html, body {
    font-family: "Inter";
}

h1, h2, h3, h4, h5 {
    font-family: "DM Sans";
}

.logo {
    height: 54px;
    width: 168px;
}

.line {
    background: RGBA(255,255,255,0.2);
    padding: 0;

    &.horizontal {
        height: 1px;
        width: 100%;

        &.h-px2 {
            height: 2px;
        }

        &.w-px48 {
            width: 48px;
        }
    }

    &.vertical {
        height: 100%;
        width: 1px;

        &.w-px2 {
            width: 2px;
        }

        &.h-px48 {
            height: 48px;
        }
    }

    &.black {
        background: black;
    }
}

.fa-circle-play {
    font-size: 32px;
}

stars {
    color: red;

    &[c="0"]::after {
        content: "☆☆☆☆☆";
    }

    &[c="1"]::after {
        content: "★☆☆☆☆";
    }

    &[c="2"]::after {
        content: "★★☆☆☆☆";
    }

    &[c="3"]::after {
        content: "★★★☆☆";
    }

    &[c="4"]::after {
        content: "★★★★☆";
    }

    &[c="5"]::after {
        content: "★★★★★";
    }
}

input[type=text] {
    border-radius: 40px;
    border: none;
    padding: 20px 36px;
    font-family: "Inter";

    &.gray {
        background: #f3f3f3;
    }
}

.card {
    border-radius: 0;

}

.underline {
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #f3f3f3;
}

.bg-gray {
    background: #f0efe9;
}
