.button-theme {
    background: #f9d783;
    border-radius: 40px;
    border: none;
    padding: 12px 26px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    text-align: center;
    white-space: nowrap;
    height: 52px;

    i {
        font-style: normal;
    }

    &.secondary {
        background: transparent;
        border: 1px solid black;

        &.no-border {
            border: none;
        }
    }

    &.black {
        color: white;
        background: black;
    }

    &.white {
        color: black;
        background: white;
        border: 1px solid black;
    }

    &.gray {
        color: black;
        background: rgba(25, 25, 25, 0.05);
    }

    &:hover {
        background: #f9d783;
        border: 1px solid black;
    }

    &:active {
        background: #e0c175;
    }
}