header {
    background: #f0efe9;
    color: black;

    .col {
        padding: 0;
    }

    .row {
        padding: 0;
        margin: 0;
    }

    a {
        color: black;
        text-decoration: none;
        white-space: nowrap;
        text-underline-offset: 4px;

        &.current {
            text-decoration: underline black 1px;
        }

        &:hover {
            text-decoration: underline gray 1px;
        }

    }

    .line {
        background: rgba(25, 25, 25, 0.1);

        &.vertical {
            height: 22px;
        }
    }
}