header {
    background: #f0efe9;
    color: black;

    a {
        color: black;
        text-decoration: none;
        white-space: nowrap;
    }

    .line {
        background: rgba(25,25,25,0.1 );

        &.vertical {
            height: 22px;
        }
    }
}
