html, body {
    font-family: "Inter";
}

.logo {
    height: 54px;
    width: 168px;
}

.line {

    background: RGBA(255,255,255,0.2);

    &.horizontal {
        height: 1px;
        width: 100%;
    }

    &.vertical {
        height: 100%;
        width: 1px;
    }

}

header {
    background: #f0efe9;
    color: black;

    a {
        color: black;
        text-decoration: none;
        white-space: nowrap;
    }

    .line {
        background: rgba(25,25,25,0.1 );

        &.vertical {
            height: 22px;
        }
    }

}

footer {
    background: #0e1021;
    color: white;

    a {
        color: white;
        text-decoration: none;
        white-space: nowrap;
    }

    .logo-text {
        width: 309px;
    }

    .wavy-lines {
        position: relative;
        margin-top: -82px;
    }

}

.button-theme {
    background: #f9d783;
    border-radius: 40px;
    border: none;
    padding: 12px 26px;
    text-decoration: none;
    color: black;
    border: 1px solid transparent;
    text-align: center;
    white-space: nowrap;

    i {
        font-style: normal;
    }

    &.secondary {
        background: transparent;
        border: 1px solid black;

        &.no-border {
            border: none;
        }

    }

    &.black {
        color: white;
        background: black;
        border: 1px solid black;
    }

    &:hover {
        background: #f9d783;
        border: 1px solid black;
    }

    &:active {
        background: #e0c175;
    }

}

.showcase {
    background: #f0efe9;

    h1 {
        font-family: "DM Sans";
        font-size: 96px;
        font-weight: bold;
        line-height: 100px;
        color: #191919;
        width: 831px;
        height: 308px;
    }

    p {
        font-size: 20px;
        width: 698px;
        color: rgba(25,25,25,0.7);
    }

    .wavy-lines {
        position: relative;
        margin-top: -102px;
        pointer-events: none;
    }

}

.features {
    border: 2px solid rgba(25,25,25,0.2 );

    &.container {
        padding-left: 0;
        padding-right: 0;
    }

    .col.left {
        width: 460px;

        h1 {
            width: 460px;
            font-size: 45px;
            font-weight: bold;
        }
    }

    .button {
        width: 460px !important;
        display: flex;

        a {
            width: 100%;
        }
    }

    h3 {
        font-size: 22px;
        font-weight: bold;
    }

    p {
        color: rgba(25,25,25,0.7);
    }
}

.about-company {

    .fa-circle-play {
        color: black;
    }

    .image {
        width: 533px;
        height: 615px;
        background: url(/image/stock/daria-pimkina-tYaccl19A3Q-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }

    .image-overlay {
        filter: drop-shadow(0px 18px 20px rgba(44,44,44,0.15 ));
        background: #beebff;
        z-index: 1;
        position: relative;
        top: 65%;
        left: -10%;
        width: 75%;
    }

    p {
        color: rgba(25,25,25,0.7 );
    }

    h1 {
        font-size: 45px;
        font-weight: bold;
    }
}

.fa-circle-play {
    font-size: 32px;
}

.our-services {
    background: #F0EFE9;

    h1 {
        width: 504px;
    }

    .card {
        border-radius: 0;
        border: 0;

        &.highlight {
            background: #f9d783;

            .button {
                background: white;
                color: black;
            }
        }
    }

    .button {
        background: black;
        color: white;
        width: 56px;
        height: 56px;
        text-align: center;
        display: flex;
        text-decoration: none;
        border-radius: 100%;
        align-self: end;

        * {
            margin: auto;
        }
    }

    .line {
        height: 2px;
        background: black;
        width: 40px;
    }

    .wavy-lines {
        position: relative;
        margin-top: -220px;
        pointer-events: none;
    }
}

.why-choose-us {
    overflow: hidden;
    height: 630px;

    h1 {
        width: 447px;
    }

    .icon {
        border-radius: 100%;
        border: 1px solid rgba(25,25,25,0.1 );
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 30px;
    }

    .image-container {
        height: 603px;
        float: right;
        width: 50vw;
        position: relative;
        top: -603px;
        display: flex;
        overflow: hidden;

        .background {
            background: #f0efe9;
            height: 80%;
            position: relative;
            z-index: -10;
            margin-left: -15%;
            margin-right: -35%;
            margin-top: 28%;
        }

        .image {
            background: url(/image/stock/amy-hirschi-K0c8ko3e6AA-unsplash.jpg);
            width: 645px;
            height: 505px;
            position: relative;
            margin: 0 auto;
            background-size: contain;
            background-repeat: round;
        }
    }
}

.project-and-case-studies {

    h5 {
        font-weight: bold;
    }

    .line {
        height: 2px;
        background: #e8e8e8
    }

    .image {
        height: 311px;
        background-size: cover;
        background-repeat: no-repeat;

        &.one {
            background-image: url(/image/stock/adeolu-eletu-E7RLgUjjazc-unsplash.jpg);
        }

        &.two {
            background-image: url(/image/stock/marek-levak-zANXcXyByos-unsplash.jpg);
        }

        &.three {
            background-image: url(/image/stock/oli-dale-xjSkI_seiZY-unsplash.jpg);
        }

        &.four {
            background-image: url(/image/stock/carlos-muza-hpjSkU2UYSU-unsplash.jpg);
        }
    }
}

.meet-our-team {
    background: rgba(240,208,130,0.93);

    .col {
        width: 307px;
    }

    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 420px;

        &.one {
            background-image: url(/image/stock/christina-wocintechchat-com-SJvDxw0azqw-unsplash.jpg);
        }

        &.two {
            background-image: url(/image/stock/itay-verchik-6ZKGBzrDd3I-unsplash.jpg);
        }

        &.three {
            background-image: url(/image/stock/christina-wocintechchat-com-Zpzf7TLj_gA-unsplash.jpg);
        }

        &.four {
            background-image: url(/image/stock/the-connected-narrative-N8lRH2uxih4-unsplash.jpg);
        }
    }

}

.testimonial {
    background: rgba(240,208,130,0.93);

    .container {
        background: white;
        border-radius: 2px;
        border: 1px solid black;
    }

    p {
        margin: 0;
        font-family: 'DM Sans';
    }

    .text-danger {
        color: #f94d1c;
        font-family: 'Inter';
    }

    .image {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
        width: 70px;
        height: 70px;

        &::after {
            content: '';
            position: absolute;
            top: -4px;
            left: -4px;
            bottom: -4px;
            right: -4px;
            border: 1px solid #00000020;
            border-radius: 100%;
        }

        &.one {
            background-image: url(/image/stock/vince-veras-AJIqZDAUD7A-unsplash.jpg);
        }

        &.two {
            background-image: url(/image/stock/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg);
        }

        &.three {
            background-image: url(/image/stock/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg);
        }
    }
}

.articles-and-news {

    h4 {
        font-family: "DM Sans";
        margin: 0;
    }

    p {
        margin: 0;
        color: #6a6c71;
    }

    .col {
        width: 56px;
    }

    .image-overlay {
        position: relative;
        left: 20px;
        top: 20px;
        background: #f9d783;
        width: 56px;
        height: 64px;
    }

    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 420px;
        height: 230px;

        &.one {
            background-image: url(/image/stock/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg);
        }

        &.two {
            background-image: url(/image/stock/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg);
        }

        &.three {
            background-image: url(/image/stock/kobu-agency-ipARHaxETRk-unsplash.jpg);
        }
    }
}

stars {
    color: red;

    &[c="0"]::after {
        content: "☆☆☆☆☆";
    }

    &[c="1"]::after {
        content: "★☆☆☆☆";
    }

    &[c="2"]::after {
        content: "★★☆☆☆☆";
    }

    &[c="3"]::after {
        content: "★★★☆☆";
    }

    &[c="4"]::after {
        content: "★★★★☆";
    }

    &[c="5"]::after {
        content: "★★★★★";
    }
}

.mailing-list-prompt {
    background: #f0efe9;

    h1 {
        font-family: "DM Sans";
    }

    input {
        border-radius: 40px;
        border: none;
        padding: 20px 36px;
        font-family: "Inter";
    }

    .wavy-lines {
        position: relative;
        margin-top: -64px;
    }
}
