.about-company {

    .fa-circle-play {
        color: black;
    }

    .image {
        width: 533px;
        height: 615px;
        background: url(/image/stock/daria-pimkina-tYaccl19A3Q-unsplash.jpg);
        background-size: cover;
        background-position: center;
    }

    .image-overlay {
        filter: drop-shadow(0px 18px 20px rgba(44,44,44,0.15 ));
        background: #beebff;
        z-index: 1;
        position: relative;
        top: 65%;
        left: -10%;
        width: 75%;
    }

    p {
        color: rgba(25,25,25,0.7 );
    }

    h1 {
        font-size: 45px;
        font-weight: bold;
    }
}
