.articles-and-news {

    h4 {
        font-family: "DM Sans";
        margin: 0;
    }

    p {
        margin: 0;
        color: #6a6c71;
    }

    .col {
        width: 56px;
    }

    .image-overlay {
        position: relative;
        left: 20px;
        top: 20px;
        background: #f9d783;
        width: 56px;
        height: 64px;
    }

    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 420px;
        height: 230px;

        &.one {
            background-image: url(/image/stock/linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg);
        }

        &.two {
            background-image: url(/image/stock/emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg);
        }

        &.three {
            background-image: url(/image/stock/kobu-agency-ipARHaxETRk-unsplash.jpg);
        }
    }
}
