.meet-our-team {
    background: rgba(240, 208, 130, 0.93);

    .col {
        width: 307px;
    }

    .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 420px;
    }
}