.project-and-case-studies {

    h5 {
        font-weight: bold;
    }

    .line {
        height: 2px;
        background: #e8e8e8
    }

    .image {
        height: 311px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}