.why-choose-us {
    overflow: hidden;
    height: 630px;

    h1 {
        width: 447px;
    }

    .icon {
        border-radius: 100%;
        border: 1px solid rgba(25, 25, 25, 0.1);
        width: 60px;
        height: 60px;
        text-align: center;
        font-size: 30px;
    }

    .image-container {
        height: 603px;
        float: right;
        width: 50vw;
        position: relative;
        top: -603px;
        display: flex;
        overflow: hidden;

        .background {
            background: #f0efe9;
            height: 80%;
            position: relative;
            z-index: -10;
            margin-left: -15%;
            margin-right: -35%;
            margin-top: 28%;
        }

        .image {
            width: 645px;
            height: 505px;
            position: relative;
            margin: 0 auto;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}