@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="contact-form container p-5 mb-5">

    <div class="m-5 p-5 row">

        <div class="d-flex mb-4">
            <h1 class="mx-auto my-4 mt-0">Leave us a message for any information.</h1>
        </div>
        <input type="text" class="my-2" placeholder="Name*" />
        <input type="text" class="my-2" placeholder="Email*" />
        <input type="text" class="my-2" placeholder="Your message*" />

        <a href="#" class="mt-5 button-theme">Send Message <i class="fa-solid fa-arrow-up-right"></i></a>

    </div>

</section>