@using Crito.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{

    var form = new ContactForm();

}

<section id="contact" class="contact-form container p-5 mb-5">

    <div class="m-5 p-5 row">

        <div class="d-flex mb-4">
            <h1 class="mx-auto my-4 mt-0">Leave us a message for any information.</h1>
        </div>

        @using (Html.BeginUmbracoForm("Index", "Contact", FormMethod.Post))
        {

            <div class="row">

                <div asp-validation-summary="All"></div>

                <input asp-for="@form.Name" type="text" class="my-2" placeholder="Name*" />
                <input asp-for="@form.Email" type="text" class="my-2" placeholder="Email*" />
                <input asp-for="@form.Message" type="text" class="my-2" placeholder="Your message*" />

                <button type="submit" class="mt-5 w-100 button-theme">Send Message <i class="fa-solid fa-arrow-up-right"></i></button>

            </div>

        }


    </div>

</section>