@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{

    var url = Model.Root().Value<string>("contactGoogleMapsUrl");

    if (!string.IsNullOrWhiteSpace(url))
    {
        <section>
            <iframe class='map w-100' title='map' src="@url" allowFullScreen="" loading="eager" referrerPolicy="no-referrer-when-downgrade"></iframe>
        </section>
    }

}
