@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@functions {

    public class ArticleItem
    {
        public string Image { get; set; } = null!;
        public string Category { get; set; } = "Business";
        public string Title { get; set; } = null!;
        public string Description { get; set; } = "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.";
        public string Url { get; set; } = null!;
        public int Day { get; set; }
        public string? Month { get; set; }
    }

}

@{

    var list = new ArticleItem[]
    {
        new() { Url = "/article/1", Month = "Mar", Day = 25, Title = "How to use digilization in the classroom",  Image = "linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" },
        new() { Url = "/article/2", Month = "Mar", Day = 17, Title = "Hot to implement ChatGPT in your projects", Image = "emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" },
        new() { Url = "/article/3", Month = "Mar", Day = 13, Title = "The guide to support modern CSS design",    Image = "kobu-agency-ipARHaxETRk-unsplash.jpg" },
    };

}

<div class="container articles-and-news py-5">

    <div class="row mt-5">
        <h5 class="text-danger">Article & News</h5>
    </div>

    <div class="row">

        <div class="col">
            <h1 class="fw-bold">Get Every Single Article & News Story</h1>
        </div>

        <div class="col d-flex">
            <a href="#" class="button-theme secondary ms-auto my-auto">Browse Articles <i class="fa-solid fa-arrow-up-right"></i></a>
        </div>

        <!--TODO: Implement corousel-->
        <section class="articles-and-news container py-5">
            <div class="row">
                @foreach (var article in list)
                {
                    @await Html.PartialAsync("_ArticleItem", article)
                    ;
                }
            </div>
        </section>

    </div>

</div>