@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container my-5 partners">

    <div class="row">

        <div class="col left me-5 pe-5">
            <h5 class="text-danger">Features</h5>
            <h1 class="mb-5">Our accounting is trusted by thousands of companies</h1>
            <div class="button">
                <a href="#" class="button-theme">
                    Learn more
                    <i class="fa-solid fa-arrow-up-right"></i>
                </a>
            </div>
        </div>

        <div class="col ms-5 ps-5 pb-5">
            <div class="row">
                <div class="col">
                    <h1 class="my-4 mb-4"><i class="fa-regular fa-handshake"></i></h1>
                    <h3>Business Advice</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="col">
                    <div class="col mb-4">
                        <h1 class="my-4"><i class="fa-regular fa-lightbulb-on"></i></h1>
                        <h3>Startup Business</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="col">
                        <h1 class="my-4"><i class="fa-regular fa-chart-mixed-up-circle-dollar"></i></h1>
                        <h3>Financial Advice</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="col">
                    <div class="col">
                        <h1 class="my-4"><i class="fa-sharp fa-regular fa-toolbox"></i></h1>
                        <h3>Risk Management</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>