@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!--TODO: Implement corousel-->
<section class="mt-5 pt-5 meet-our-team">

    <div class="container px-5">

        <div class="row d-flex flex-row mt-5 pt-5">
            <div class="col">
                <h5 class="text-danger">Meet Our Team</h5>
                <h1 class="fw-bold">Experience Team Members</h1>
            </div>
            <div class="col d-flex">
                <a href="#" class="button-theme secondary ms-auto my-auto">Browse Team <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>

        <div class="row mt-5 pt-5">

            <div class="col">
                <div class="image one"></div>
                <h3 class="fw-bold mt-4">Kristine Palmer</h3>
                <h5>Chief Operation Officer</h5>
            </div>

            <div class="col">
                <div class="image two"></div>
                <h3 class="fw-bold mt-4">Mark Aubri</h3>
                <h5>Senior Consultant</h5>
            </div>

            <div class="col">
                <div class="image three"></div>
                <h3 class="fw-bold mt-4">Kimberly Hansen</h3>
                <h5>Senior Consultant</h5>
            </div>

            <div class="col">
                <div class="image four"></div>
                <h3 class="fw-bold mt-4">Justin Willoman</h3>
                <h5>Senior Tech Consultant</h5>
            </div>

        </div>

    </div>

</section>