@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent

@{

    var header = Model.Value<string>("meetOurTeamHeader");
    var buttonLink = Model.Value<Link>("meetOurTeamMoreButton");

    var teamMembers = (Model.Value<IEnumerable<BlockListItem>>("teamMembers") ?? Enumerable.Empty<BlockListItem>()).Select((item, i) =>
    (
    isFirst: i == 0,
    name: item.Content.Value<string>("memberName"),
    image: item.Content.Value<IPublishedContent>("image")?.MediaUrl(),
    jobTitle: item.Content.Value<string>("jobTitle")
    ));

}

<section class="mt-5 pt-5 meet-our-team">

    <div class="container px-5">

        <div class="row d-flex flex-row mt-5 pt-5">
            <div class="col">
                <h5 class="text-danger">Meet Our Team</h5>
                <h1 class="fw-bold">@header</h1>
            </div>
            <div class="col d-flex">
                <a href="@buttonLink?.Url" class="button-theme secondary ms-auto my-auto">@buttonLink?.Name <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>

        <div class="row mt-5 pt-5">

            @foreach (var member in teamMembers)
            {
                <div class="col-lg my-4">
                    <div class="image" style="background-image: url(@member.image)"></div>
                    <h3 class="fw-bold mt-4">@member.name</h3>
                    <h5>@member.jobTitle</h5>
                </div>
            }

        </div>

    </div>

</section>