@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent

@{

    var header = Model.Value<string>("projectAndCaseStudiesHeader");
    var buttonLink = Model.Value<Link>("projectAndCaseStudiesMoreButton");

}

<section class="container mt-5 pt-5 project-and-case-studies">

    <div class="d-flex flex-column text-center mt-5 pt-5">
        <h5 class="text-danger">Projects & Case Studies</h5>
        <h1 class="fw-bold">@header</h1>
    </div>

    <div class="row">
        <div class="row my-5 pt-5">
            <div class="col d-flex flex-column">
                <div class="image one"></div>
                <h5 class="mt-5">Grow your business</h5>
                <div class="line mt-3 mb-2"></div>
                <a href="#" class="button-theme secondary no-border ms-auto">Read More <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
            <div class="col d-flex flex-column">
                <div class="image two"></div>
                <h5 class="mt-5">Why your client needs a responsive website</h5>
                <div class="line mt-3 mb-2"></div>
                <a href="#" class="button-theme secondary no-border ms-auto">Read More <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex flex-column">
                <div class="image three"></div>
                <h5 class="mt-5">Educate your employees to get better results</h5>
                <div class="line mt-3 mb-2"></div>
                <a href="#" class="button-theme secondary no-border ms-auto">Read More <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
            <div class="col d-flex flex-column">
                <div class="image four"></div>
                <h5 class="mt-5">Business Insights is a important piece of your business</h5>
                <div class="line mt-3 mb-2"></div>
                <a href="#" class="button-theme secondary no-border ms-auto">Read More <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
    </div>

    <div class="my-5 py-5 d-flex">
        <a href="@buttonLink?.Url" class="button-theme black mx-auto">@buttonLink?.Name <i class="fa-solid fa-arrow-up-right"></i></a>
    </div>

</section>