@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent

@{

    var header = Model.Value<string>("projectAndCaseStudiesHeader");
    var buttonLink = Model.Value<Link>("projectAndCaseStudiesMoreButton");

    var itemsPerPage = 4;
    var pageNumber = 1;

    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
        pageNumber = 1;

    var items =
    (Umbraco.Content(Guid.Parse("987d0579-6070-4be0-95e6-2f04d2756c15"))?.
    ChildrenOfType("newsItemPage")?.Where(x => x.IsVisible())?.
    OrderByDescending(x => x.CreateDate)?.ToList()) ??
    Enumerable.Empty<Umbraco.Cms.Core.Models.PublishedContent.IPublishedContent>().ToList();

    var totalItems = items.Count;
    pageNumber = Math.Clamp(pageNumber, 1, (int)Math.Ceiling(totalItems / (double)itemsPerPage));

    var pagedItems = items.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);

}

<section class="container mt-5 pt-5 project-and-case-studies">

    <div class="d-flex flex-column text-center mt-5">
        <h5 class="text-danger">Projects & Case Studies</h5>
        <h1 class="fw-bold">@header</h1>
    </div>

    <div class="row mt-5">

        @foreach (var item in pagedItems)
        {

            var url = item.Url();
            var date = item.CreateDate;
            var imageUrl = item.Value<IPublishedContent>("newsImage")?.MediaUrl();
            var category = item.Value<string>("newsCategory");
            var tags = item.Value<IEnumerable<string>>("newsTags");
            var ingress = item.Value<string>("newsShortDescription");
            var content = item.Value<string>("newsContent");

            <div class="col-6 d-flex flex-column pb-4">

                <a href="@item.Url()" class="text-decoration-none text-black">
                    <div class="image" style="background-image: url(@imageUrl);"></div>
                    <h5 class="mt-5">@item.Name</h5>
                </a>

                <div class="line mt-3 mb-2"></div>
                <a href="@item.Url()" class="button-theme secondary no-border ms-auto h-auto">Read More <i class="fa-solid fa-arrow-up-right"></i></a>

            </div>

        }

    </div>

    <div class="my-5 py-5 d-flex">
        <a href="@buttonLink?.Url" class="button-theme black mx-auto">@buttonLink?.Name <i class="fa-solid fa-arrow-up-right"></i></a>
    </div>

</section>