@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="container py-5">

    <div class="row">
        <div class="col">
            <img src="image/logo/paperz.svg" />
        </div>
        <div class="col">
            <img src="image/logo/dorfus.svg" />
        </div>
        <div class="col">
            <img src="image/logo/martino.svg" />
        </div>
        <div class="col">
            <img src="image/logo/square.svg" />
        </div>
        <div class="col">
            <img src="image/logo/gobona.svg" />
        </div>
    </div>

</section>