@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="testimonial pt-5">

    <div class="mt-5 pb-5">
        <div class="container mb-5">

            <div class="row d-flex flex-column text-center mt-5 pt-5">
                <h5 class="text-danger">Testimonial</h5>
                <h1 class="fw-bold">What Our Client Says</h1>
            </div>

            <div class="row mb-5">

                <div class="col m-5">

                    <stars c=5></stars>
                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>

                    <div class="row mt-4">
                        <div class="col-auto">
                            <div class="image one m-2"></div>
                        </div>
                        <div class="col my-auto">
                            <p class="fw-bold">Cassandra Warren</p>
                            <p class="text-danger">Business Manager, Dorfus</p>
                        </div>
                    </div>

                </div>

                <div class="col m-5">

                    <stars c=5></stars>
                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>

                    <div class="row mt-4">
                        <div class="col-auto">
                            <div class="image two m-2"></div>
                        </div>
                        <div class="col my-auto">
                            <p class="fw-bold">Amanda Tulling</p>
                            <p class="text-danger">Senior Developer, Square</p>
                        </div>
                    </div>

                </div>

                <div class="col m-5">

                    <stars c=5></stars>
                    <p>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>

                    <div class="row mt-4">
                        <div class="col-auto">
                            <div class="image three m-2"></div>
                        </div>
                        <div class="col my-auto">
                            <p class="fw-bold">Jack McDogglas</p>
                            <p class="text-danger">Key Account Manager, Gobona</p>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row d-flex mb-5 pb-4">
                <a href="#" class="button-theme black mx-auto w-auto">All Reviews <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>

        </div>
    </div>

</section>