@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent

@{

    var header = Model.Value<string>("whyChooseUsHeader");
    var imageUrl = Model.Value<IPublishedContent>("whyChooseUsImage")?.MediaUrl();

    var cards =
    (Model.Value<IEnumerable<BlockListItem>>("whyChooseUsCards") ?? Enumerable.Empty<BlockListItem>()).
    Select(item =>
    (
    model: item.Content,
    header: item.Content.Value<string>("header"),
    description: item.Content.Value<string>("description"),
    icon: item.Content.Value<string>("icon")
    ));

}

<section class="why-choose-us pt-5 mb-5">

    <div class="container col">
        <div class="row">

            <div class="col">

                <div class="row">
                    <h5 class="text-danger">Why choose us</h5>
                    <h1 class="mb-5 fw-bold pe-5">@header</h1>
                </div>

                @foreach (var card in cards)
                {
                    <div class="row pb-2">
                        <div class="col-1 mt-3">
                            <h1 class="icon pt-2"><i class="fa-regular @card.icon"></i></h1>
                        </div>
                        <div class="col ms-4">
                            <h4>@card.header</h4>
                            <p>@card.description</p>
                        </div>
                    </div>
                }

            </div>

            <div class="col">



            </div>

        </div>
    </div>

    <div class="image-container mt-1 col">

        <div class="image" style="background-image: url(@imageUrl)">
            <div class="background"></div>
        </div>

    </div>

</section>