@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="why-choose-us pt-5">

    <div class="container col">
        <div class="row">

            <div class="col">
            
                <div class="row">
                    <h5 class="text-danger">Why choose us</h5>
                    <h1 class="mb-5 fw-bold pe-5">Why We Are The Best Business Consulting Agency</h1>
                </div>

                <div class="row pb-2">
                    <div class="col-1 mt-3">
                        <h1 class="icon pt-2"><i class="fa-regular fa-thumbs-up"></i></h1>
                    </div>
                    <div class="col ms-4">
                        <h1>Process Excellence</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>

                <div class="row pb-2">
                    <div class="col-1 mt-3">
                        <h1 class="icon pt-2"><i class="fa-sharp fa-solid fa-chart-radar"></i></h1>
                    </div>
                    <div class="col ms-4">
                        <h1>Strategic Planning</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>

                <div class="row pb-2">
                    <div class="col-1 mt-3">
                        <h1 class="icon pt-2"><i class="fa-light fa-pen-nib"></i></h1>
                    </div>
                    <div class="col ms-4">
                        <h1>Experience Design</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1 mt-3">
                        <h1 class="icon pt-2"><i class="fa-thin fa-head-side-gear"></i></h1>
                    </div>
                    <div class="col ms-4">
                        <h1>Artificial Intelligence</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur.</p>
                    </div>
                </div>

            </div>

            <div class="col">



            </div>

        </div>
    </div>            

    <div class="image-container mt-1 col">
        
        <div class="image">
            <div class="background"></div>
        </div>

    </div>

</div>