html, body {
  font-family: "Inter";
}

.logo {
  height: 54px;
  width: 168px;
}

.line {
  background: RGBA(255, 255, 255, 0.2);
}
.line.horizontal {
  height: 1px;
  width: 100%;
}
.line.vertical {
  height: 100%;
  width: 1px;
}

header {
  background: #f0efe9;
  color: black;
}
header a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
header .line {
  background: rgba(25, 25, 25, 0.1);
}
header .line.vertical {
  height: 22px;
}

footer {
  background: #0e1021;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
footer .logo-text {
  width: 309px;
}
footer .wavy-lines {
  position: relative;
  margin-top: -82px;
}

.button-theme {
  background: #f9d783;
  border-radius: 40px;
  border: none;
  padding: 12px 26px;
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
  text-align: center;
  white-space: nowrap;
}
.button-theme i {
  font-style: normal;
}
.button-theme.secondary {
  background: transparent;
  border: 1px solid black;
}
.button-theme.black {
  color: white;
  background: black;
  border: 1px solid black;
}
.button-theme:hover {
  background: #f9d783;
  border: 1px solid black;
}
.button-theme:active {
  background: #e0c175;
}

.showcase {
  background: #f0efe9;
}
.showcase h1 {
  font-family: "DM Sans";
  font-size: 96px;
  font-weight: bold;
  line-height: 100px;
  color: #191919;
  width: 831px;
  height: 308px;
}
.showcase p {
  font-size: 20px;
  width: 698px;
  color: rgba(25, 25, 25, 0.7);
}
.showcase .wavy-lines {
  position: relative;
  margin-top: -102px;
  pointer-events: none;
}

.partners .col.left {
  width: 460px;
}
.partners .col.left h1 {
  width: 460px;
  font-size: 45px;
  font-weight: bold;
}
.partners .button {
  width: 460px !important;
  display: flex;
}
.partners .button a {
  width: 100%;
}
.partners h3 {
  font-size: 22px;
  font-weight: bold;
}
.partners p {
  color: rgba(25, 25, 25, 0.7);
}

.about-company .image {
  width: 533px;
  height: 615px;
  background: url(/image/stock/daria-pimkina-tYaccl19A3Q-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.about-company .image-overlay {
  filter: drop-shadow(0px 18px 20px rgba(44, 44, 44, 0.15));
  background: #beebff;
  z-index: 1;
  position: relative;
  top: 65%;
  left: -10%;
  width: 75%;
}
.about-company p {
  color: rgba(25, 25, 25, 0.7);
}
.about-company h1 {
  font-size: 45px;
  font-weight: bold;
}

.fa-circle-play {
  font-size: 32px;
}

.our-services {
  background: #F0EFE9;
}
.our-services h1 {
  width: 504px;
}
.our-services .card {
  border-radius: 0;
  border: 0;
}
.our-services .card.highlight {
  background: #f9d783;
}
.our-services .card.highlight .button {
  background: white;
  color: black;
}
.our-services .button {
  background: black;
  color: white;
  width: 56px;
  height: 56px;
  text-align: center;
  display: flex;
  text-decoration: none;
  border-radius: 100%;
  align-self: end;
}
.our-services .button * {
  margin: auto;
}
.our-services .line {
  height: 2px;
  background: black;
  width: 40px;
}

footer {
  margin-top: 1000px;
}
