html {
  font-family: "Inter";
}

.logo {
  height: 54px;
  width: 168px;
}

.line {
  background: RGBA(255, 255, 255, 0.2);
}
.line.horizontal {
  height: 1px;
  width: 100%;
}
.line.vertical {
  height: 100%;
  width: 1px;
}

header {
  background: #f0efe9;
  color: black;
}
header a {
  color: black;
  text-decoration: none;
  white-space: nowrap;
}
header .line {
  background: rgba(25, 25, 25, 0.1);
}
header .line.vertical {
  height: 22px;
}

footer {
  background: #0e1021;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
footer .logo-text {
  width: 309px;
}

.button-theme {
  background: #f9d783;
  width: auto;
  border-radius: 40px;
  width: 122px;
  height: 48px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 26px;
  padding-right: 26px;
  text-decoration: none;
  color: black;
  border: 1px solid transparent;
}
.button-theme i {
  font-style: normal;
}
.button-theme.secondary {
  background: transparent;
  border: 1px solid black;
}
.button-theme:hover {
  background: #f9d783;
  border: 1px solid black;
}
.button-theme:active {
  background: #e0c175;
}
