@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="container about-company p-5">
    <div class="row mb-5">

        <div class="col d-flex flex-column">
            <div class="image">
                <div class="image-overlay p-3">
                    <h6 class="fw-bold">Samantha Brown, <i class="fst-normal text-danger">Founder</i></h6>
                    <p class="pt-2">"Lorem ipsum dolor sit amet consectetur adipisicing elit."</p>
                </div>
            </div>
        </div>

        <div class="col mx-5 ps-5">
            
            <h5 class="text-danger">About Company</h5>
            <h1>We Are Business Consulting & Credit Repair Experts</h1>

            <div class="my-5">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officiis quas assumenda esse obcaecati? Ex esse error voluptates iure vel totam eos. </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis esse quasi incidunt adipisci accusantium libero provident voluptate amet.</p>
            </div>

            <div class="d-flex flex-row">

                <a class="button-theme black" href="#">Learn more <i class="fa-solid fa-arrow-up-right"></i></a>

                <div class="ps-5 pt-2">
                    <a href="#" class="container row text-decoration-none">
                        <div class="col-1 me-3">
                            <i class="fa-sharp fa-regular fa-circle-play"></i>
                        </div>
                        <div class="col pt-1">
                            <p> Intro Video</p>
                        </div>
                    </a>
                </div>

            </div>

        </div>

    </div>
</div>