@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var selection = Model.Ancestors().ToArray();
}

@if (selection?.Length > 0)
{
    <section class="breadcrumb d-flex flex-column py-5">

        <div class="my-5 d-flex flex-column">

            <div class="background-effect mt-5"></div>
            <div class="d-flex flex-row mx-auto">
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    <a class="text-capitalize text-decoration-none text-reset me-3" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                }
                <span class="fw-bold">@Model.Name</span>
            </div>

            <h1 class="mx-auto my-2 fw-bold">@ViewData["PageTitle"]</h1>

        </div>

    </section>
}