@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@functions{

    public class ArticleItem
    {
        public string Image { get; set; } = null!;
        public string Category { get; set; } = "Business";
        public string Title { get; set; } = null!;
        public string Description { get; set; } = "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto sed hic libero.";
        public string Url { get; set; } = null!;
        public int Day { get;set; }
        public string? Month { get; set; }
    }

}

@{

    var list = new ArticleItem[]
    {
        new() { Url = "/article/1", Month = "Mar", Day = 25, Title = "How to use digilization in the classroom",                         Image = "linkedin-sales-solutions-Mis5fyJi7Q0-unsplash.jpg" },
        new() { Url = "/article/2", Month = "Mar", Day = 17, Title = "Hot to implement ChatGPT in your projects",                        Image = "emiliano-vittoriosi-vEN1bsdSjxM-unsplash.jpg" },
        new() { Url = "/article/3", Month = "Mar", Day = 13, Title = "The guide to support modern CSS design",                           Image = "kobu-agency-ipARHaxETRk-unsplash.jpg" },
        new() { Url = "/article/4", Month = "Mar", Day = 12, Title = "Why you need to implement the five S's",                           Image = "the-climate-reality-project-Hb6uWq0i4MI-unsplash.jpg" },
        new() { Url = "/article/5", Month = "Mar", Day = 07, Title = "Get more involved with your end users",                            Image = "damir-kopezhanov-nC6CyrVBtkU-unsplash.jpg" },
        new() { Url = "/article/6", Month = "Mar", Day = 02, Title = "Guided tour of our new head office in Stockholm",                  Image = "annie-spratt-FSFfEQkd1sc-unsplash.jpg" },
        new() { Url = "/article/7", Month = "Feb", Day = 28, Title = "Using business intelligence to get insights into our business",    Image = "carlos-muza-hpjSkU2UYSU-unsplash.jpg" },
        new() { Url = "/article/8", Month = "Feb", Day = 18, Title = "Apple has released new products. Are they any good?",              Image = "marek-levak-zANXcXyByos-unsplash.jpg" },
        new() { Url = "/article/9", Month = "Feb", Day = 11, Title = "How to improve your teams and get a better result",                Image = "oli-dale-xjSkI_seiZY-unsplash.jpg" },
    };

}

<section class="articles-and-news container py-5">
    <div class="row">
        @foreach (var article in list)
        {
            @await Html.PartialAsync("_ArticleItem", article);
        }
    </div>
</section>