@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer>

    <section class="container d-flex py-5 px-0">

        <div class="col-4">
            <div class="row logo">
                <img src="~/image/website/logotype-white.svg" alt="" />
            </div>
            <div class="row mt-4">
                <p class="logo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
        </div>

        <div class="col d-flex flex-column">
            <h4 class="mb-4">Company</h4>
            <a class="my-2" href="/about">About</a>
            <a class="my-2" href="/features">Features</a>
            <a class="my-2" href="/works">Works</a>
            <a class="my-2" href="/career">Career</a>
        </div>

        <div class="col d-flex flex-column">
            <h4 class="mb-4">Help</h4>
            <a class="my-2" href="/support">Customer Support</a>
            <a class="my-2" href="/delivery-details">Delivery Details</a>
            <a class="my-2" href="/agreements/terms">Terms & Conditions</a>
            <a class="my-2" href="/agreements/privacy">Privacy Policy</a>
        </div>

        <div class="col d-flex flex-column">
            <h4 class="mb-4">Resources</h4>
            <a class="my-2" href="/free/ebook" target="_blank">Free eBooks</a>
            <a class="my-2" href="/tutorials/development" target="_blank">Development Tutorial</a>
            <a class="my-2" href="/guides/how-to-blog" target="_blank">How to - Blog</a>
            <a class="my-2" href="https://youtube.com" target="_blank">Youtube Playlist</a>
        </div>

        <div class="col d-flex flex-column">
            <h4 class="mb-4">Link</h4>
            <a class="my-2" href="/free/ebook" target="_blank">Free eBooks</a>
            <a class="my-2" href="/tutorials/development" target="_blank">Development Tutorial</a>
            <a class="my-2" href="/guides/how-to-blog" target="_blank">How to - Blog</a>
            <a class="my-2" href="https://youtube.com" target="_blank">Youtube Playlist</a>
        </div>

    </section>

    <div class="d-flex">
        <img class="wavy-lines ms-auto" src="image/background-effects/background-lines-white-right.svg" alt="" />
    </div>
    <div class="line horizontal"></div>

    <section class="container">
        <div class="row py-4">

            <div class="col m-0 p-0"> © @DateTime.Now.Year Crito - Consulting Company Inc. All Rights Reserved.</div>

            <div class="col-auto">
                <div class="row flex-rows">
                    <a href="https://facebook.com" target="_blank" class="w-auto"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com" target="_blank" class="w-auto"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://instagram.com" target="_blank" class="w-auto"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://linkedin.com" target="_blank" class="w-auto"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>

        </div>
    </section>

</footer>