@using Umbraco.Cms.Web.Common.PublishedModels
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer>

    <section class="container d-flex py-5 px-0">

        <div class="col-4">
            <div class="row logo">
                <img src="~/image/website/logotype-white.svg" alt="" />
            </div>
            <div class="row mt-4">
                <p class="logo-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
        </div>

        <div class="col d-flex flex-column">
            <h4 class="mb-4">Company</h4>
            <a class="my-2" href="#">About</a>
            <a class="my-2" href="#">Features</a>
            <a class="my-2" href="#">Works</a>
            <a class="my-2" href="#">Career</a>
        </div>

        <div class="col d-flex flex-column">
            <h4 class="mb-4">Help</h4>
            <a class="my-2" href="#">Customer Support</a>
            <a class="my-2" href="#">Delivery Details</a>
            <a class="my-2" href="#">Terms & Conditions</a>
            <a class="my-2" href="#">Privacy Policy</a>
        </div>

        <div class="col d-flex flex-column">
            <h4 class="mb-4">Resources</h4>
            <a class="my-2" href="#">Free eBooks</a>
            <a class="my-2" href="#">Development Tutorial</a>
            <a class="my-2" href="#">How to - Blog</a>
            <a class="my-2" href="#">Youtube Playlist</a>
        </div>

        <div class="col d-flex flex-column">
            <h4 class="mb-4">Link</h4>
            <a class="my-2" href="#">Free eBooks</a>
            <a class="my-2" href="#">Development Tutorial</a>
            <a class="my-2" href="#">How to - Blog</a>
            <a class="my-2" href="#">Youtube Playlist</a>
        </div>

    </section>

    <div class="d-flex">
        <img class="wavy-lines ms-auto" src="image/background-effects/background-lines-white-right.svg" alt=""/>
    </div>
    <div class="line horizontal"></div>

    <section class="container">
        <div class="row py-4">

            <div class="col m-0 p-0"> © 2023 Crito - Consulting Company Inc. All Rights Reserved.</div>

            <div class="col-auto">
                <div class="row flex-rows">
                    <a href="#" class="w-auto"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="w-auto"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#" class="w-auto"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="w-auto"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>

        </div>
    </section>

</footer>