@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<header>

    <div class="container d-flex flex-row">

        <nav class="d-flex">

            <div class="col-2 d-flex">
                <img class="logo my-auto" src="image/website/logotype.svg">
            </div>

            <div class="col">
                <div class="row d-flex flex-row">
            
                    <div class="row px-0 mt-2 mb-2">

                        <div class="col d-flex flex-row">
                            <a href=""><i class="fa-sharp fa-regular fa-phone"></i> +46 (8) 121 470 50</a>
                            <div class="line vertical mx-3"></div>
                            <a href=""><i class="fa-regular fa-envelope"></i> info@crito.com</a>
                            <div class="line vertical ms-5 me-3"></div>
                            <a href=""><i class="fa-sharp fa-regular fa-location-dot"></i> Sveavägen 31, 111 34 STOCKHOLM</a>
                        </div>               
                
                        <div class="col flex-rows text-end">
                            <a href="#" class="w-auto mx-1"><i class="fa-brands fa-facebook"></i></a>
                            <a href="#" class="w-auto mx-1"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#" class="w-auto mx-1"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#" class="w-auto mx-1"><i class="fa-brands fa-linkedin"></i></a>
                        </div>

                    </div>

                    <div class="line horizontal"></div>

                    <div class="row flex-row mt-2">

                        <div class="col flex-rows mt-4 mb-3">
                            <a class="me-3" href="">Home</a>
                            <a class="mx-3" href="">Service</a>
                            <a class="mx-3" href="">News</a>
                            <a class="mx-3" href="">Contact</a>
                        </div>           

                        <div class="col d-flex my-auto p-0">
                            <a href="#" class="w-auto ms-auto button-theme">Log in <i class="fa-solid fa-arrow-up-right"></i></a>
                        </div>

                    </div>

                </div>
            </div>

        </nav>

    </div>

</header>