@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    var header = Model.Value<string>("mailingListPromptHeader");
}

<section class="mailing-list-prompt mt-5 py-5">

    <div class="container row my-5 mx-auto">
        <div class="col">
            <h1>@header</h1>
        </div>
        <div class="col d-flex flex-row">
            <form>
                <input type="text" placeholder="username@domain.com" />
                <button action="post" class="ms-3 button-theme">Subscribe <i class="fa-solid fa-arrow-up-right"></i></button>
            </form>
        </div>
    </div>

    <div class="d-flex">
        <img class="wavy-lines ms-auto" src="image/background-effects/background-wavy-lines.svg" alt="" />
    </div>

</section>