@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="showcase">
    <div class="container">
        <div class="col">
            <h1>We provide the best consulting services</h1>
            <p>Establish your vision and value proposition and turn them into testable prototypes.</p>
            <div>
                <a class="button-theme" href="#">Get consulting <i class="fa-solid fa-arrow-up-right"></i></a>
                <a class="button-theme secondary" href="#">Learn more <i class="fa-solid fa-arrow-up-right"></i></a>
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</section>