@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

@{
    var facebook = "https://facebook.com";
    var twitter = "https://twitter.com";
    var instagram = "https://instagram.com";
    var linkedIn = "https://linkedIn.com";
}

<a href="@facebook" target="_blank" class="w-auto mx-1"><i class="fa-brands fa-facebook"></i></a>
<a href="@twitter" target="_blank" class="w-auto mx-1"><i class="fa-brands fa-twitter"></i></a>
<a href="@instagram" target="_blank" class="w-auto mx-1"><i class="fa-brands fa-instagram"></i></a>
<a href="@linkedIn" target="_blank" class="w-auto mx-1"><i class="fa-brands fa-linkedin"></i></a>